/* /* .eighty{
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #55876B;
  }
   */
  body {
    background-color: black;
    background-image: url("https://wallpaperaccess.com/full/1244577.jpg");
    background-size: cover;
    /* background-repeat: no-repeat; */
    }
  
  .jumbotron{
    background-color: transparent;
    color: orange;
    text-align: center;
  }

  h3 {
    color: orange;
  }