.eighty{
    width: 80%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    background-color: #55876B;
  }
  
  body {
    background-color: #FFFBFF;
  }
  
  .page-header {
    text-align: center;
    font-size: 50px;
    background-color: #66049e;
    padding: 30px;
  }
  
  .container {
    margin-top: 30px!important;
  }

  #binomial {
      font-style: italic;
  }

   img {
      width: 200px!important;
      height: 200px!important;
  }
